.page {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page form {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 1rem;
}

.App-header {
    font-size: 24px;
    margin-top: 10px;
    margin-left: 10px;
}

